:host {
  --v-card-color: rgba(245, 245, 217, 0.66);
  --v-scroll-color: rgba(229, 229, 210, 0.66);
  --v-white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}